<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> P-chy </title>
</head>

<body>
    <!-- Barra superior, se uso la clase navar para no cambiar estilos-->
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="/Imagenes/Pichy.png" alt="Mascota P-Chy" class="logo-mascota">
            <span class="logo-nombre">P-Chy</span>
        </div>
    </nav>

    <!-- Formulario de inicio -->
    <div class="formulario">
        <h1>Bienvenido a P-chy</h1>
        <h2>Iniciar sesion como Administrador</h2>

        <form action="" method="post">
            <div class="correo">
                <input type="email" name="email" placeholder="Correo electrónico" required>
            </div>
            <div class="contrasena">
                <input type="password" name="contrasena" placeholder="Contraseña" required>
            </div>
            <a href="/pchy/target/classes/templates/administrador/principalAdmin.html">
            <input type="button" value="Ingresar">
            </a>
        </form>

        <p>¿No tienes cuenta?</p>
        <a href="/pchy/target/classes/templates/administrador/registroAdmin.html">
            <input type="button" value="Registrate">
        </a>
        <input type="button" value="Soy alumno">
    </div>
</body>

</html>
