<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/Estilos/login.css">
<link rel="stylesheet" href="/Estilos/navbarStyles.css">

<title>P-Chy Registro</title>
</head>

<body>

<nav class="navbar">
  <div class="navbar-logo">
    <img src="/Imagenes/Pichy.png" class="logo-mascota">
    <span class="logo-nombre">P-Chy</span>
  </div>
</nav>

<main class="auth-page">

<section class="formulario formulario-horizontal">


<h1 class="formulario-titulo">Registro</h1>

<p class="formulario-subtitulo">
Ingresa tus datos para registrarte
</p>

<form action="/Usuario/Registro" method="post" onsubmit="prepararInstitucion()">

<div class="fila-doble">

<div class="campo-grupo">
<label>Nombre(s)</label>
<input type="text" name="nombre" class="campo-input" required>
</div>

<div class="campo-grupo">
<label>Apellido(s)</label>
<input type="text" name="apellido" class="campo-input" required>
</div>

</div>

<div class="campo-grupo">
<label>Correo</label>
<input type="email" name="correo" class="campo-input" required>
</div>

<div class="fila-doble">

<div class="campo-grupo">
<label>Contraseña</label>
<input type="password" name="contrasena" class="campo-input" required>
</div>

<div class="campo-grupo">
<label>Boleta / Matrícula</label>
<input type="text" name="matricula" class="campo-input" required>
</div>

</div>

<div class="fila-doble">

<div class="campo-grupo">
<label>Universidad</label>
<select id="universidad" class="campo-select" onchange="actualizarCampus()">
<option value="">Selecciona</option>

<option value="IPN">IPN</option>
<option value="UNAM">UNAM</option>
<option value="TecNM">TecNM</option>
<option value="UAZ">UAZ</option>
<option value="UANL">UANL</option>
<option value="UDG">UDG</option>
<option value="BUAP">BUAP</option>
<option value="UAM">UAM</option>
<option value="Tec Monterrey">Tec de Monterrey</option>
<option value="Otra">Otra</option>

</select>
</div>

<div class="campo-grupo" id="campusBox" style="display:none;">
<label>Campus / Escuela</label>
<select id="campus" class="campo-select"></select>
</div>

</div>

<input type="hidden" name="institucion" id="institucionFinal">

<button type="submit" class="btn-primario">
Registrarte
</button>

</form>

<p th:if="${param.error}" style="color:red;">
Ese correo o matrícula ya está registrado.
</p>

<div class="formulario-aviso">
Una vez registrado, podrás iniciar sesión con tu correo y contraseña
</div>

</section>

</main>
<script src="/Funciones/escuelas.js"></script>
</body>
</html>